hl7TransformationApi/src/main/mule/hl7transfroamtionapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mllp="http://www.mulesoft.org/schema/mule/mllp" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mllp http://www.mulesoft.org/schema/mule/mllp/current/mule-mllp.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="70b6dd22-18cb-47b4-9373-b83ebea7ba3a" />
	<flow name="http-receive" doc:id="1c3574a4-e709-4965-8826-7612acee839b" >
		<http:listener doc:name="Listener" doc:id="09a72aa4-4a46-4a3d-9b05-b54292be97e6" config-ref="HTTP_Listener_config" path="/hl7" allowedMethods="POST" outputMimeType="application/json"/>
		<hl7:read doc:name="Read" doc:id="c4158eb4-cccb-4501-bd8b-058723cb929e" config-ref="HL7_EDI_Config" />
		<set-variable value="#[payload]" doc:name="Set Original Payload to a Variable" doc:id="84c16652-14b7-46ad-b328-bb1a90761dc6" variableName="originalPayload"/>
		<flow-ref doc:name="CL-HL7Receive-impl-flow-ref" doc:id="6f9534bb-dd3d-44f1-b3fd-f0a55280a608" name="CL-HL7Receive-impl-flow"/>
		<flow-ref doc:name="prepare-sucess-response-sub-flow-ref" doc:id="56a5f99d-f90b-4b00-a3ff-3a0b36cba137" name="prepare-sucess-response-sub-flow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fe5117f4-26a5-4b5f-9c35-0ea64e817c07" type="ANY">
				<logger level="INFO" doc:name="Start Error Log" doc:id="8d63219c-2f01-42d0-8d5b-8e8875028d1b" message="#['Encountered error ' ++ error.detailedDescription]" />
				<ee:transform doc:name="Transform Error Message" doc:id="ca110afb-b87b-4dad-982f-0b7d6acd53f8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"errorDescription": error.description,
	"errorDetailedDescription": error.detailedDescription,
	"errorType": error.errorType,
	"errorMessage": error.errorMessage,
	"errorRootCause": error.exception.cause.exceptionMessage
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Log Error" doc:id="32b65161-fef8-4545-b162-2a905d5b7a77" message="#['Error response ' ++ write(payload, 'application/json')]" />
				<flow-ref doc:name="prepare-failure-response-sub-flow-ref" doc:id="2e4bec1e-3f0e-42ca-a093-3a20c99c5d8a" name="prepare-failure-response-sub-flow" />
				<logger level="INFO" doc:name="Log ACK message" doc:id="8a99823b-2b00-43f3-9c44-f9f2b40e9143" message="#['Log failure ACK' ++ write(payload, 'application/json')]" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="prepare-sucess-response-sub-flow" doc:id="40726ae9-8088-4aeb-818d-ff38f69371d4" >
		<ee:transform doc:name="Prepare Success Response" doc:id="d2426c2f-4b55-4d6f-81dd-0bbba7b50455">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var MSAVar = vars.originalPayload.ACK.MSA - "MSA-01" ++ {"MSA-01": "AA"}
---
{
	Name: "ACK",
	MSH: vars.originalPayload.ACK.MSH,
	Id: "ACK",
	Data: {
		ACK: vars.originalPayload.ACK - "ERR" - "MSA" ++ {"MSA" : MSAVar}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="prepare-failure-response-sub-flow" doc:id="01b8e993-75ae-40a3-bd06-94f34a83e896" >
		<ee:transform doc:name="Prepare Failure Response" doc:id="e051064a-c594-43c5-ba20-8e924f9c7dd7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var MSAVar = vars.originalPayload.ACK.MSA - "MSA-01" ++ {"MSA-01": "AR"}
var ERRVar = 
	{
		"ERR-01": [
            {
              "ELD-04": {
                "CE-01": "",
                "CE-02": error.detailedDescription,
                "CE-03": "",
                "CE-04": "",
                "CE-05": "",
                "CE-06": ""
              }
            }
          ]
	}

---
{
	Name: "ACK",
	MSH: vars.originalPayload.ACK.MSH,
	Id: "ACK",
	Data: {
		ACK: vars.originalPayload.ACK - "ERR" - "MSA"  ++ {"MSA" : MSAVar} ++ {"ERR" : ERRVar}
	}
}




]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="CL-HL7Receive-impl-flow" doc:id="cfd5e249-527f-47de-8fc4-572d7ce33dde" >
		<logger level="INFO" doc:name="Start Log" doc:id="baa78c93-794f-49bd-8175-d0f8126e6f16" message="Starting to process events from EPIC" />
		<ee:transform doc:name="Transform payload to JSON" doc:id="9ff598e5-7e98-4676-8ac6-6997869988e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Request Payload" doc:id="acf96958-6478-4e47-903f-fb696ce5e6b3" message="#['Request payload' ++ write(payload, &quot;application/json&quot;)]" />
		<set-variable value='#[%dw 2.0
output application/java
---
payload.MSH."MSH-09"."MSG-02"]' doc:name="Message Type" doc:id="cb73d48c-efb7-4247-8d67-b43cb9fcb830" variableName="MessageType" />
		<logger level="DEBUG" doc:name="ChoiceLogger" doc:id="70afdfd6-4dd2-4de1-a7c5-d2eaddb9718e" />
		<choice doc:name="Choice" doc:id="4bee0c83-ce7f-44cf-848e-48cd0d30b519" >
			<when expression='#[vars.MessageType == "A08"]' >
				<flow-ref doc:name="A08-sub-flow-ref" doc:id="41d6d0f3-af10-40b0-bc10-e2c663b77125" name="A08-sub-flow"/>
			</when>
			<when expression='#[vars.MessageType == "A31"]' >
				<flow-ref doc:name="A31-sub-flow-ref" doc:id="aadf6759-72af-4963-be57-e36b7c8f4d05" name="A31-sub-flow"/>
			</when>
			<when expression='#[vars.MessageType == "A28"]' >
				<flow-ref doc:name="A28-sub-flow-ref" doc:id="af61bf41-0b89-41bb-b335-651e6116a572" name="A28-sub-flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="5f1eefb7-1e3e-435b-a5bd-037f87992880" />
			</otherwise>
		</choice>
		<logger level="DEBUG" doc:name="PreUpsert" doc:id="91454d13-d800-40a3-a264-0d1765b21ecf" />
		<salesforce:upsert type="HealthCloudGA__EhrPatient__c" doc:name="Upsert" doc:id="beab272a-0f63-4ae0-8cec-ce9c6275fa81" config-ref="Salesforce_Config" externalIdFieldName="HealthCloudGA__SourceSystemId__c" />
		<logger level="DEBUG" doc:name="PostUpsert" doc:id="1f96eed4-8d7d-48f3-9a7b-a6a671f8213b" />
		<ee:transform doc:name="Transform Message" doc:id="89288e5b-d8a3-4e06-af11-7a2f7b43032e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log SF Payload" doc:id="fce3597f-657e-4c5b-8396-573856291773" message="#['SF response' ++ write(payload, &quot;application/json&quot;)]"/>
		<validation:is-true doc:name="Check if SF response is a success" doc:id="c7630dac-11df-4199-b13d-e63a0d25b4de" message="#['Invalid response returned from SalesForce ' ++ write (payload, 'application/json')]" expression="#[payload[0].success == true]" config-ref="Validation_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="39d9d3be-fa88-4bd2-98b9-da0ae8d41382" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="6d0bbf22-d104-4bb3-b680-8dbf10d8c6ae" message="Completed processing events from EPIC" />
	</sub-flow>
</mule>
